<html>
<head>
    <style>

    </style>
    <script src="https://unpkg.com/vue@2.2.6/dist/vue.min.js"></script>
</head>
<body>
    <div id="resistance-app">
        <a :href="linky()">{{game.Id}}</a>
        <ul>
            <li v-for="p in game.Players">
            {{p}}
            </li>
        </ul>
        <div v-if="game.State == 'lobby'">
            Lobby
            <button @click="send('addbot')">Add bot</button>
            <button @click="send('removebot')">Remove bot</button>
            <button @click="send('start')">Start game</button>
        </div>
        <div v-if="game.State == 'teambuilding'">
            Team Building

            1. Select away team (leader)
            Convince the leader you aren't a spy (others)

            2. Vote on team (others)

            3. If mission passes, go to mission, otherwise leader changes and we stay here
            <button @click="send('mission')">Mission</button>
            <button @click="send('end')">End game</button>
        </div>
        <div v-if="game.State == 'mission'">
            Mission pass/fail for people on the mission
        </div>
    </div>
<script>
  var app = new Vue({
    el: '#resistance-app',
    data: {
      ws: null,
      game: {Id: '', Players: {}, InGame: false, Version: 0},
      linky: function() {
        return 'http://localhost:8112/#' + this.game.Id;
      }
    },
    created: function() {
      var url;
      if (location.protocol === 'https:') {
        url = 'wss://';
      } else {
        url = 'ws://';
      }
      url += location.host + location.pathname + (location.pathname.endsWith('/') ? 'ws' : '/ws');

      this.ws = new WebSocket(url);
      this.ws.onopen = this.onopen;
      this.ws.onmessage = this.onmessage;
      this.ws.onerror = this.onerror;
      this.ws.onclose = this.onclose;
    },
    methods: {
      onopen: function() {
        console.log('Connected');
        if (location.hash && location.hash.length > 1) {
          app.ws.send(JSON.stringify({type: "join", join: location.hash.split('#')[1]}));
        } else {
          app.ws.send(JSON.stringify({type: "join", join: ''}));
        }
      },
      onerror: function (e) {
        console.log('error', e);
      },
      onclose: function (e) {
        console.log("disconnected");
      },
      onmessage: function (e) {
        console.log("GOT", e.data);
        var data = JSON.parse(e.data);
        switch (data.Type) {
          case "all":
            // fallthrough
          case "meta":
            location.hash = data.Update.Id;
            this.game = data.Update;
            break;
          case "cookie":
            document.cookie = data.Cookie;
            break;
          default:
        }
      },
      send: function(type) {
        console.log("HERE", type);
        this.ws.send(JSON.stringify({Type: type}));
      }
    }
  })
</script>
</body>
</html>
