<html>
<head>
    <style>

    </style>
    <script src="https://unpkg.com/vue@2.2.6/dist/vue.min.js"></script>
</head>
<body>
    <div id="resistance-app">
        <a :href="linky()">{{game.Id}}</a>
        State: {{game.State}}
        <ul>
            <li v-for="(p, index) in game.Players">
            Player {{p.Id}}
                <span v-if="p.IsBot">🤖</span>
                <span v-if="p.IsLeader">🎖</span>
                <span v-if="p.OnMission">🔫</span>
                <button v-if="game.State == 'building' && you.IsLeader" @click="toggleteam(index)">Select</button>
                <span v-if="selected.indexOf(index) > -1">✅</span>
            </li>
        </ul>
        You {{you}}
        Missions
        <ul>
            <li v-for="m in game.Missions">
            {{m}}
            </li>
        </ul>
        Num Failed {{game.NumFailed}}
        Plays {{game.Version}}
        <div v-if="game.State == 'lobby'">
            Waiting for 5 - 10 players.
            <button @click="send({Type: 'addbot'})">Add bot</button>
            <button @click="send({Type: 'removebot'})">Remove bot</button>
            <button @click="send({Type: 'start'})">Start game</button>
        </div>
        <div v-if="game.State == 'building'">
            Team building
            <div v-if="you.IsLeader">
                You are the Leader. Select your away team above.
                {{selected}}
                <button @click="send({Type: 'assign', Assignment: selected})">Submit</button>
            </div>
            <div v-if="!you.IsLeader">
                Waiting for leader to select away team.
            </div>
        </div>
        <div v-if="game.State == 'voting'">
            Vote if you approve of this team

            <button @click="send({Type: 'voteteam', Vote: true})">Accept</button>
            <button @click="send({Type: 'voteteam', Vote: false})">Reject</button>
        </div>
        <div v-if="game.State == 'mission'">
            <div v-if="you.OnMission">
                <p>Vote for if this mission succeeds or fails

                <p>If you are Resistance, you cannot vote to Fail.

                <button @click="send({Type: 'votemission', Vote: true})">Succeed</button>
                <button @click="send({Type: 'votemission', Vote: false})">Fail</button>
            </div>
            <div v-if="!you.OnMission">
                Waiting for the players on the mission to vote.
            </div>
        </div>
        <div v-if="game.State == 'spywin'">
            Spies win!

            <button @click="send({Type: 'ready'})">Ready</button>
        </div>
        <div v-if="game.State == 'resistancewin'">
            Resistance win!

            <button @click="send({Type: 'ready'})">Ready</button>
        </div>
    </div>
<script>
  var app = new Vue({
    el: '#resistance-app',
    data: {
      ws: null,
      game: {Id: '', Players: {}, InGame: false, Version: 0},
      you: {},
      selected: [],
      linky: function() {
        return 'http://localhost:8112/#' + this.game.Id;
      }
    },
    created: function() {
      var url;
      if (location.protocol === 'https:') {
        url = 'wss://';
      } else {
        url = 'ws://';
      }
      url += location.host + location.pathname + (location.pathname.endsWith('/') ? 'ws' : '/ws');

      this.ws = new WebSocket(url);
      this.ws.onopen = this.onopen;
      this.ws.onmessage = this.onmessage;
      this.ws.onerror = this.onerror;
      this.ws.onclose = this.onclose;
    },
    methods: {
      onopen: function() {
        console.log('Connected');
        if (location.hash && location.hash.length > 1) {
          app.ws.send(JSON.stringify({type: "join", join: location.hash.split('#')[1]}));
        } else {
          app.ws.send(JSON.stringify({type: "join", join: ''}));
        }
      },
      onerror: function (e) {
        console.log('error', e);
      },
      onclose: function (e) {
        console.log("disconnected");
      },
      onmessage: function (e) {
        console.log("GOT", e.data);
        var data = JSON.parse(e.data);
        switch (data.Type) {
          case "all":
            location.hash = data.Update.Id;
            this.game = data.Update;
            this.you = data.You;
            this.selected = [];
            break;
          case "cookie":
            document.cookie = data.Cookie;
            break;
          default:
            console.log("I don't even", data);
        }
      },
      send: function(msg) {
        msg.Version = this.game.Version;
        this.ws.send(JSON.stringify(msg));
      },
      toggleteam: function(index) {
        var i = this.selected.indexOf(index);
        if (i === -1) {
          this.selected.push(index);
        } else {
          this.selected.splice(i, 1);
        }
      }
    }
  })
</script>
</body>
</html>
