.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
@keyframes bounceIn {
    0%, 15%, 30%, 45%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        -webkit-transform: scale3d(0.2, 0.2, 0.2);
        transform: scale3d(0.2, 0.2, 0.2);
    }
    15% {
        -webkit-transform: scale3d(1.37, 1.37, 1.37);
        transform: scale3d(1.37, 1.37, 1.37);
    }
    30% {
        -webkit-transform: scale3d(0.85, 0.85, 0.85);
        transform: scale3d(0.85, 0.85, 0.85);
    }
    45% {
        -webkit-transform: scale3d(1.04, 1.04, 1.04);
        transform: scale3d(1.04, 1.04, 1.04);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes select-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.card {
    --width: 70px;
    width: var(--width);
    height: calc(var(--width) * 1.5);
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    margin: 10px;
}
.card.animate-in {
    -webkit-animation: bounceIn 1s both linear;
    animation: bounceIn 1s both linear;
}
.card:nth-child(4n + 1) {
    clear: both;
}
.card.selected {
    -webkit-box-shadow: 0px 0px 3px 2px #3498db;
    box-shadow: 0px 0px 3px 2px #3498db;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    animation: 0.2s select-pop;
}
.card .shape {
    position: relative;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 72%;
    height: 25%;
    margin-top: 3px;
    margin-bottom: 3px;
}
.card .shape svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card.red path,
.card.red polygon {
    stroke: #e74c3c;
    stroke-width: 8px;
}
.card.red.solid path,
.card.red.solid polygon {
    fill: #e74c3c;
}
.card.red.striped path,
.card.red.striped polygon {
    fill: url("#striped-red");
}
.card.red.hollow path,
.card.red.hollow polygon {
    fill: transparent;
}
.card.green path,
.card.green polygon {
    stroke: #2ecc71;
    stroke-width: 8px;
}
.card.green.solid path,
.card.green.solid polygon {
    fill: #2ecc71;
}
.card.green.striped path,
.card.green.striped polygon {
    fill: url("#striped-green");
}
.card.green.hollow path,
.card.green.hollow polygon {
    fill: transparent;
}
.card.purple path,
.card.purple polygon {
    stroke: #9b59b6;
    stroke-width: 8px;
}
.card.purple.solid path,
.card.purple.solid polygon {
    fill: #9b59b6;
}
.card.purple.striped path,
.card.purple.striped polygon {
    fill: url("#striped-purple");
}
.card.purple.hollow path,
.card.purple.hollow polygon {
    fill: transparent;
}
#striped-red rect {
    fill: #e74c3c;
}
#striped-green rect {
    fill: #2ecc71;
}
#striped-purple rect {
    fill: #9b59b6;
}
.card.card--mini {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 1px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    cursor: default;
}
.card.card--mini .shape {
    margin: 1px 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: auto;
    font-family: Verdana, sans-serif;
}
main {
    height: 100%;
}
footer {
    background: #4aa3df;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

@media (max-width: 600px) {
    #cards {
        width: 300px;
    }
    .card {
        width: 70px;
        --width: 70px;
    }
}

@media (min-width: 600px) {
    #cards {
        width: 400px;
    }
    .card {
        --width: 100px;
    }
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#disconnected {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #303030;
    color: white;
    padding: 10px 40px 10px 20px;
}

.hidden {
    display: none;
}

#id {
    display: inline;
}

#submit {
    margin: -6px 0 0;
}
